* {
  box-sizing: border-box;
}
body {
  font-family: "PT Sans Caption", sans-serif;
  background-color: #f7ecde;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  position: relative;
  margin: 0 auto;
  width: fit-content;
}

h1::before {
  content: "";
  position: absolute;
  background-color: #fec260;
  width: 100%;
  height: 30%;
  left: 0;
  bottom: 2px;
  z-index: -1;
  transition: all 0.4s;
}

h1:hover::before {
  height: 60%;
}

.bookmarkBody h2 {
  font-family: "Righteous", cursive;
  font-size: 25px;
  font-size: 25px;
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.myBtn {
  --bs-btn-color: #fff;
  --bs-btn-bg: #d1512d;
  --bs-btn-border-color: #d1512d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #bb4120;
  --bs-btn-hover-border-color: #a03315;
}
.visitBtn {
  --bs-btn-color: #fff;
  --bs-btn-bg: #9eb23b;
  --bs-btn-border-color: #9eb23b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8a9e23;
  --bs-btn-hover-border-color: #6e8018;
}
.deleteBtn {
  --bs-btn-color: #fff;
  --bs-btn-bg: #eb1d36;
  --bs-btn-border-color: #eb1d36;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d30820;
  --bs-btn-hover-border-color: #ba081d;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #d99c39;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #fec26055;
}

.bookmarkBody {
  border-width: 2px 0 2px 0;
  border-style: dotted;
  border-color: #352e28;
}

.box-info {
  background-color: #0007;
}
.boxHeader .circles span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.boxHeader .circles span.one {
  background-color: #f15f5d;
}
.boxHeader .circles span.two {
  background-color: #febe2e;
}
.boxHeader .circles span.three {
  background-color: #4db748;
}

.box-content {
  width: 500px;
  transform: translate(0, -50%);
}

.box-content p {
  font-size: 21px;
  line-height: 1.3;
  color: #352e28;
}

ul li i {
  color: #bb4120;
}

.green:focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

.red:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}
